.App {
    .App-header {
        height: 60px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        img {
            max-height: 50px;
            width: auto;
            margin: 10px auto 0;
        }
    }
}

.Player-wrapper {
    width: 80vw;
    position: relative;
    margin: 60px auto;
    padding: 10px;
    background: linear-gradient(90deg, #eee, #d3d3d3, #eee);
}

@keyframes backgroundHopper {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
