.playerplayer {
    position: relative;
    z-index: 3;
    background: #fff;
    height: 50px;
}

.playOrPause {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding: 8px;
    width: 24px;
    text-align: center;
    border: 2px solid #000;
    float: left;
}

.progress-bar {
    height: 50px;
    width: calc(100% - 43px);
    margin-left: 44px;
    .inner-progress-bar {
        height: 100%;
        background: #ff00ff;
        transition: width ease-in 0.2s;
    }
}
